html{
        overflow-y: scroll;
}

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }

#map-canvas{
        height: 300px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        /*background-color: red;*/
        /*display: block;*/
        display: none;
}

.small{
        font-size: 0.5em;
}

#always-on{
        /*height: 200px;*/
}

#always-on p{
        text-align: center;
        padding: 5px;
        margin: 0;
}

.pause{
        background-color: red;
}

.play{
        background-color: blue;
}

.samesame{
        color:#cccccc;
        background-color: #111111;
}

.kold{
        background-color: #6991FD;
}

.varm{
        background-color: #FD7567;
}

.succes{
        background-color: #00ff00;
}

.right{
        text-align: right;
}

.err{
        color: red;       
}

.ui-header .ui-title{
        margin: 0;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper{
        text-shadow: none;
}

.gm-style .gm-style-iw div{
        font-weight: normal;
        color: black;
        overflow-y: hidden !important;
}

/*.ui-loader{
        display: block;
}*/